<section class="main__section">
  <h1 class="main__header"
      data-js="main__header">
        Hello world!
  </h1>
  <p class="main__paragraph"
     data-js="main__paragraph">This is my intro to ruby on rails! nothing fancy, just dipping my toes</p>
</section>
